.DS_Store
OSGI-Lib/
Projects/com.boroborome.dbaccess/
Projects/com.boroborome.dbaccess.javadb/
Projects/com.boroborome.taskmgr.view.win/
Projects/com.boroborome.window/
Projects/com.boroborome.taskmgr.logic.db/
Projects/com.boroborome.taskmgr.model/
Projects/com.boroborome.footstone/.settings/
Projects/com.boroborme.maassistant.model/.settings/
Projects/com.boroborome.maassistant.logic/.settings/
Projects/com.boroborome.maassistant.view/bin/
Projects/com.boroborome.maassistant.view/.settings/

Release/conf/org.eclipse.osgi/
Release/logs/
Release/database/