.DS_Store
OSGI-Lib/
Projects/com.boroborome.dbaccess/
Projects/com.boroborome.dbaccess.javadb/
Projects/com.boroborome.taskmgr.view.win/
Projects/com.boroborome.window/
Projects/com.boroborome.taskmgr.logic.db/
Projects/com.boroborome.taskmgr.model/
Projects/com.boroborome.footstone/.settings/
Release/conf/org.eclipse.osgi/
Release/logs/
Release/database/
Projects/com.boroborome.ma.view/bin/
*.log
*.uml~
**.class
/bin/
*.class

Projects/com.boroborome.ma.view/bin/com/boroborome/ma/view/bundle/Activator$1.class

*.class
